html {
    scroll-behavior: smooth;
  }
body{ 
    font-family: "Poppins", Arial, sans-serif;
    font-size: 16px;
    line-height: 30px;
    font-weight: 400;
    color: #000;
    height: 100%;
}
a{
    text-decoration: none;
    color: #000;
}
p{
    padding: 10px 30px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
}

.content-grid{
    display: grid;
    grid-template-columns: 300px 1fr;
}

header{
    background-color: #e9c629;
    height: 50px; 
    max-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

h1{
    padding-top: 40px;
    font-size: 55px;
    line-height: 50px;
}
.name{
    font-family:'Times New Roman', Times, serif;
    font-size: 18px;
    padding: 70px 0 60px 220px;
}

.nav-list{
    display: flex;
    font-size: 25px;
    justify-content: space-evenly;
   
}

.nav-li{
    min-width: 50px;
    min-height: 25px;
}

h2{
    background-color: #e9c629;
    font-size: 30px;
    color: black;
    text-align: center;
    margin-bottom: 20px;
}

.left{
    width: 100%;
    background-color: rgb(85, 85, 85);
    color: white;
}
.right{
    width: 100%;
}
.right section{
    padding-top: 20px;
}
.skills ul{
    list-style-type:disc;
    padding-left: 60px;
  
}
.contact ul{
    padding-left: 15px;  
    padding-bottom: 20px;
    
}
.contact a{
     color: #e9c629;
}
.education ul{
    padding-left: 25px;
    padding-bottom: 25px; 
    
}
li{
    list-style-type: none;
}
li:before{
    color: #e9c629;
    content: '●';
    padding-right: 10px;
}
.photo{
    height: 370px;
    margin: 0;
    padding: 0;
  }
.content_pos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.content_toggle {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    font-size: 16px;
    text-decoration: none;
    color: #000; 
    border-radius: 5px;
    border: 3px solid #e9c629;
}
.content_toggle:hover {
    color: #fff;
    background: #e9c629;
    border-bottom: 3px solid #e9c629;
}
.content_toggle:active {
    background: #e9c629;
}
.proj{
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    font-size: 16px;
    text-decoration: none;
    color: #000; 
    border-radius: 5px;
    border: 3px solid #e9c629;
}
.proj:hover {
    color: #fff;
    background: #e9c629;
    border-bottom: 3px solid #e9c629;
}
.proj:active {
    background: #e9c629;
}
footer{
    background-color: #e9c629;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-between;
}